!!! 5

html
  head
    title Node!
    
  body
    b
      :markdown
          Ja, jeg vil gjerne ha boken Windows Azure Step by Step tilsendt!  
          Trond Marius Øvstetun  
          Mesan AS  
          [tmo@mesan.no](mailto:tmo@mesan.no)
